* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


html {
    scroll-behavior: smooth;
}


:root {
    --backg-body: rgb(2, 13, 3);
    --backg-span-btn-lateral: rgb(0, 126, 0);
    --backg-li-after-menu-lateral: rgb(0, 126, 0);

    --color-a-li: rgb(255, 255, 255);

    --transition-span-btn-lateral: 0.5s ease;
    --transition-btn-lateral-hover: 0.5s ease;
    --transition-menu-lateral-hover: 0.5s ease;
    --transition-li-hover-i: 0.5s ease;
    --transition-li-hover-after: 0.5s ease;
}


body {
    background-color: var(--backg-body);


    & header {
        width: 100%;
        height: 90px;
        
        & .btn-lateral {
            position: relative;
            left: 20px;
            top: 20px;
            width: 40px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: var(--transition-btn-lateral-hover);


            & span {
                width: 100%;
                height: 5px;
                border-radius: 5px;
                background-color: var(--backg-span-btn-lateral);
                transition: var(--transition-span-btn-lateral);
            }
        }
        & .btn-lateral:hover {
            transform: translateY(-5px) scale(1.01);
        }
        & .active span:nth-child(1) {
            transform: translateY(10px) rotate(-40deg);
        }
        & .active span:nth-child(2) {
            opacity: 0;
        }
        & .active span:nth-child(3) {
            transform: translateY(-10px) rotate(40deg);
        }
    }


    & .menu-lateral {
        position: relative;
        top: 35px;
        left: 20px;
        width: 200px;
        height: 170px;
        border-radius: 10px;
        background: linear-gradient(124deg,rgb(0, 43, 0) 0%, rgba(0, 0, 0, 1) 84%, rgb(0, 15, 1) 99%);
        box-shadow: rgba(96, 96, 96, 0.4) 0px 2px 4px, rgba(95, 95, 95, 0.3) 0px 7px 13px -3px, rgba(122, 122, 122, 0.2) 0px -3px 0px inset;
        transform: translateY(-150%);
        

        & ul {
            padding: 0;


            & li {
                position: relative;
                z-index: 1;
                padding: 10px 12px;
                width: 50%;


                & a {
                    display: flex;
                    gap: 12px;
                    color: var(--color-a-li);
                    cursor: pointer;


                    & i {
                        font-size: 18px;
                        transition: var(--transition-li-hover-i);
                        cursor: pointer;
                    }
                }
            }
            & li:hover i {
                transform: translateX(5px) rotate(10deg) scale(1.2);
            }
            & li::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                height: 100%;
                width: 0%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: var(--backg-li-after-menu-lateral);
                transition: var(--transition-li-hover-after);
            }
            & li:hover::after {
                width: 40%;
            }
        }
    }
    & .menu-lateral.active:hover {
        transform: translatey(-5px) scale(1.01);
         transition: var(--transition-menu-lateral-hover);
    }
    & .menu-lateral.active {
        transform: translateY(0);
        transition: 0.6s ease;
    }
}