* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




:root {
    --back-container: rgb(1, 4, 1);
    --back-button-lateral: rgb(0, 142, 0);
    --back-after-li: rgb(0, 128, 0);

    --transition-button-lateral: 0.5s ease;
    --transition-icons-menu-lateral: 0.5s ease;
    --transition-after-li: 0.5s ease;
    --transition-menu-lateral: 0.5s ease;
    --transition-button-lateral-hover: 0.5s ease;
    --transition-background: 0.5s ease;

    --color-a-menu-lateral: rgb(255, 255, 255);
    --color-perfil-h1: rgb(0, 128, 0);
    --color-perfil-p: rgb(255, 255, 255);
    --color-about-h1: rgb(255, 255, 255);
    --color-about-p: rgb(255, 255, 255);
}




body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--back-container);


    & section {
        padding: 2rem 6rem;
    }


    & .insidbar {
        width: 100%;
        height: 100px;
        padding: 20px;
        position: fixed;
        z-index: 2;



        & .button-lateral {
            position: relative;
            z-index: 2;
            width: 40px;
            height: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: var(--transition-button-lateral-hover);

            & span {
                width: 100%;
                height: 6px;
                background-color: var(--back-button-lateral);
                border-radius: 5px;
                transition: var(--transition-button-lateral);
            }
        }

        & .button-lateral:hover {
            transform: translateY(5px) scale(1.1);
        }




        & .active span:nth-child(1) {
            transform: translateY(10px) rotate(-40deg);
        }

        & .active span:nth-child(2) {
            opacity: 0;
        }

        & .active span:nth-child(3) {
            transform: translateY(-4px) rotate(40deg);
        }



        & .menu-lateral {
            position: relative;
            top: 20px;
            width: 200px;
            height: 200px;
            border-radius: 5px;
            transform: translateY(-600px);
            background: linear-gradient(124deg, rgb(0, 69, 2) 0%, rgb(3, 18, 1) 33%, rgb(5, 12, 0) 100%);
            box-shadow: rgba(117, 117, 117, 0.24) 0px 3px 8px;
            transition: var(--transition-menu-lateral);


            & ul {
                padding: 0;

                & li {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    padding: 10px 12px;
                    width: 55%;
                    visibility: hidden;

                    & a {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
                        color: var(--color-a-menu-lateral);

                        & i {
                            font-size: 20px;
                            cursor: pointer;
                            transition: var(--transition-icons-menu-lateral);
                        }
                    }
                }

                & li:hover i {
                    transform: translateX(5px) rotate(10deg) scale(1.2);
                }

                & li::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0%;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background-color: var(--back-after-li);
                    transition: var(--transition-after-li);
                }

                & li:hover::after {
                    width: 37%;
                }
            }

            & .active li:nth-child(1) {
                visibility: visible;
                transition-delay: 0.5s;
            }

            & .active li:nth-child(2) {
                visibility: visible;
                transition-delay: 0.6s;
            }

            & .active li:nth-child(3) {
                visibility: visible;
                transition-delay: 0.7s;
            }

            & .active li:nth-child(4) {
                visibility: visible;
                transition-delay: 0.8s;
            }
        }

        & .menu-lateral.active {
            transform: translateY(0);
        }
    }



    .background {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition-background);
        background-color: rgba(54, 54, 54, 0.297);
    }

    .background.active {
        visibility: visible;
        opacity: 1;
    }



    & main {
        width: 100%;
        height: 100vh;

        & .box-perfil {
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            top: 30vh;
            width: 50%;
            margin: 0 auto;
            text-align: center;


            & .img-box {
                margin: 0 auto;

                & img {
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                }
            }

            & .description {

                & h1 {
                    color: var(--color-perfil-h1);
                    font-size: 40px;
                }

                & p {
                    color: var(--color-perfil-p);
                    font-size: 15px;
                }
            }
        }
    }




    & .about {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 30px;
        width: 80%;
        text-align: center;


        & h1 {
            color: var(--color-about-h1);
            font-size: 40px;
        }

        & .description {
            padding: 20px;
            height: 50%;
            width: 100%;
            text-align: center;
            background-color: rgb(4, 14, 3);
            border: solid 1px white;
            border-radius: 10px;

            & p {
                color: var(--color-about-p);
            }
        }
    }
}
body.active {
    overflow: hidden;
}